Library/
Logs/
obj/
UserSettings/
.vs/
Temp/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
dungeons_scode.sln
NavMeshComponents.csproj
NavMeshComponentsEditor.csproj
PhotonChat.csproj
PhotonRealtime.csproj
PhotonUnityNetworking.csproj
PhotonUnityNetworking.Editor.csproj
PhotonUnityNetworking.Utilities.csproj
PhotonUnityNetworking.Utilities.Culling.Editor.csproj
PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
Unity.DavidFDev.DevConsole.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
NavMeshComponents.csproj
NavMeshComponentsEditor.csproj
PhotonChat.csproj
PhotonRealtime.csproj
PhotonUnityNetworking.csproj
PhotonUnityNetworking.Editor.csproj
PhotonUnityNetworking.Utilities.csproj
PhotonUnityNetworking.Utilities.Culling.Editor.csproj
PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
Unity.DavidFDev.DevConsole.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
*.meta
